# This workflow will do a clean installation of node dependencies, cache/restore them, and run tests
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    environment: producto
    strategy:
      matrix:
        node-version: [22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'

      - name: Install dependencies
        run: npm ci --legacy-peer-deps

      - name: Create .env.test file
        run: |
          echo "VITE_API_BASE_URL=${{ vars.VITE_API_BASE_URL }}" >> .env.test
          echo "VITE_APP_BASE_URL=${{ vars.VITE_APP_BASE_URL }}" >> .env.test
          echo "VITE_FACEBOOK_APP_ID=${{ vars.VITE_FACEBOOK_APP_ID }}" >> .env.test
          echo "VITE_GOOGLE_ANALYTICS_ID=${{ vars.VITE_GOOGLE_ANALYTICS_ID }}" >> .env.test
          echo "VITE_GOOGLE_CLIENT_ID=${{ vars.VITE_GOOGLE_CLIENT_ID }}" >> .env.test

      - name: Run tests
        run: npm test
